@charset 'UTF-8';
@layer /* basis */ {
	/* default */
	::selection {
		color: white;
		background-color: #5F2BDE;
	}
	:focus-visible {
		outline: 2px solid blanchedalmond;
		outline-offset: 0px;
	}
	:before, :after {
		vertical-align: middle;
		text-align: center;
		overflow-wrap: anywhere;
		word-break: normal;
		text-decoration: none;
		overflow: visible;
		position: static;
		display: inline;
		margin: 0px;
		border: 0px;
		padding: 0px;
	}
	style, link, script, meta {
		display: none;
	}
	[hidden] {
		display: none;
	}
	@supports (text-size-adjust: 100%) {
		:is(html, body):not(.disabled-default-initializer) {
			text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
		}
	}
	:is(html, body):not(.disabled-default-initializer) {
		vertical-align: top;
		text-align: left;
		overflow-wrap: anywhere;
		word-break: normal;
		text-decoration: none;
		overflow: visible;
		position: static;
		display: block;
		margin: 0px;
		border: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
		line-height: 17px;
		font-size: 16px;
		font-family: 'Noto Sans', 'Microsoft JhengHei';
		font-weight: normal;
		font-style: normal;
		color: black;
		letter-spacing: 0px;
	}
	body :not(.disabled-default-initializer):not(style, link, script, meta):not([hidden]) {
		vertical-align: top;
		text-align: left;
		overflow-wrap: anywhere;
		word-break: normal;
		text-decoration: none;
		overflow: visible;
		position: static;
		display: block;
		margin: 0px;
		border: 0px;
		padding: 0px;
		width: auto;
		height: auto;
	}
	:is(h1, h2, h3, h4, h5, h6, p, pre, code, samp, kbd, a, b, strong, em, var, s, sub, sup, span):not(.disabled-default-initializer) {
		vertical-align: baseline;
		text-align: inherit;
		overflow-wrap: inherit;
		word-break: inherit;
		text-decoration: inherit;
		display: inline-block;
		margin: 0px;
		border: 0px;
		padding: 0px;
		line-height: inherit;
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		font-style: inherit;
		color: inherit;
	}
	:is(b, strong, em, var, s, sub, sup, span):not(.disabled-default-initializer) {
		display: inline;
	}
	h1:not(.disabled-default-initializer) { line-height: 38px; font-size: 32px   ; font-weight: 500; }
	h2:not(.disabled-default-initializer) { line-height: 29px; font-size: 24px   ; font-weight: 500; }
	h3:not(.disabled-default-initializer) { line-height: 23px; font-size: 18.72px; font-weight: 500; }
	h4:not(.disabled-default-initializer) { line-height: 19px; font-size: 16px   ; font-weight: 500; }
	h5:not(.disabled-default-initializer) { line-height: 17px; font-size: 13.28px; font-weight: 500; }
	h6:not(.disabled-default-initializer) { line-height: 13px; font-size: 10.72px; font-weight: 500; }
	p:not(.disabled-default-initializer)  { line-height: 18px; font-size: 16px; font-weight: normal; font-family: 'Noto Sans', 'Microsoft JhengHei'; }
	pre:not(.disabled-default-initializer)  { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
	code:not(.disabled-default-initializer) { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
	samp:not(.disabled-default-initializer) { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
	kbd:not(.disabled-default-initializer)  { line-height: 15px; font-size: 13px; font-weight: normal; font-family: 'Menlo', 'consolas', 'monospace'; }
	a:not(.disabled-default-initializer) { text-decoration: underline; display: inline; }
	:is(b, strong):not(.disabled-default-initializer) { font-weight: bold; }
	:is(em, var):not(.disabled-default-initializer) { font-style: italic; }
	s:not(.disabled-default-initializer) { text-decoration: line-through; }
	sub:not(.disabled-default-initializer) { vertical-align: sub  ; font-size: smaller; }
	sup:not(.disabled-default-initializer) { vertical-align: super; font-size: smaller; }
	span:not(.disabled-default-initializer) { cursor: text; }
	button:not(.disabled-default-initializer) {
		font-family: 'Noto Sans', 'Microsoft JhengHei';
	}
	table:not(.disabled-default-initializer) {
		border-collapse: collapse;
	}
	:is(img, video, iframe):not(.disabled-default-initializer) {
		aspect-ratio: auto 16 / 9;
	}
	:is(h1, h2, h3, h4, h5, h6, p, pre):not(.disabled-default-initializer) {
		color: black;
	}
	a:not(.disabled-default-initializer) {
		font-size: 16px;
		line-height: 22px;
	}
	h4:not(.disabled-default-initializer) {
		font-size: 16px;
		line-height: 21px;
	}
	p:not(.disabled-default-initializer) {
		font-size: 16px;
		line-height: 21px;
	}
	pre:not(.disabled-default-initializer) {
		font-size: 13.5px;
		line-height: 18px;
	}
}
@layer /* scrollable */ {
	/* ::-webkit-scrollbar */
	@supports selector(::-webkit-scrollbar) {
		::-webkit-scrollbar {
			width: 14px;
			height: 14px;
		}
		::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
			background-color: transparent;
		}
		body::-webkit-scrollbar-track, body::-webkit-scrollbar-corner {
			background-color: #f1f1f1;
		}
		body#blur top::-webkit-scrollbar-track:vertical, body#blur dropdown > dropdown-content::-webkit-scrollbar-track:vertical {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		::-webkit-scrollbar-thumb {
			background-color: #4CAF50;
			border: 4px solid transparent;
			background-clip: padding-box;
			border-radius: 8px;
		}
		::-webkit-scrollbar-thumb:hover {
			background-color: #71CC19;
			border: 4px solid transparent;
			background-clip: padding-box;
		}
		::-webkit-scrollbar-thumb:active {
			background-color: #106601;
			border: 4px solid transparent;
			background-clip: padding-box;
		}
		body#blur::-webkit-scrollbar-thumb, body#blur ::-webkit-scrollbar-thumb {
			border-radius: 8px;
		}
	}
}
@layer /* themes */ {
	console {
		--background: rgb(0, 0, 0);
		--black: rgb(0, 0, 0);
		--dark-blue: rgb(0, 0, 128);
		--dark-green: rgb(0, 128, 0);
		--dark-cyan: rgb(0, 128, 128);
		--dark-red: rgb(128, 0, 0);
		--dark-magenta: rgb(128, 0, 128);
		--dark-yellow: rgb(128, 128, 0);
		--gray: rgb(192, 192, 192);
		--dark-gray: rgb(128, 128, 128);
		--blue: rgb(0, 0, 255);
		--green: rgb(0, 255, 0);
		--cyan: rgb(0, 255, 255);
		--red: rgb(255, 0, 0);
		--magenta: rgb(255, 0, 255);
		--yellow: rgb(255, 255, 0);
		--white: rgb(255, 255, 255);
	}
	console[scheme="campbell"] {
		--background: #0C0C0C;
		--black: #0C0C0C;
		--dark-blue: #0037DA;
		--dark-green: #13A10E;
		--dark-cyan: #3A96DD;
		--dark-red: #C50F1F;
		--dark-magenta: #881798;
		--dark-yellow: #C19C00;
		--gray: #CCCCCC;
		--dark-gray: #767676;
		--blue: #3B78FF;
		--green: #16C60C;
		--cyan: #61D6D6;
		--red: #E74856;
		--magenta: #B4009E;
		--yellow: #F9F1A5;
		--white: #F2F2F2;
	}
	console[scheme="campbell-powershell"] {
		--background: #012456;
		--black: #0C0C0C;
		--dark-blue: #0037DA;
		--dark-green: #13A10E;
		--dark-cyan: #3A96DD;
		--dark-red: #C50F1F;
		--dark-magenta: #881798;
		--dark-yellow: #C19C00;
		--gray: #CCCCCC;
		--dark-gray: #767676;
		--blue: #3B78FF;
		--green: #16C60C;
		--cyan: #61D6D6;
		--red: #E74856;
		--magenta: #B4009E;
		--yellow: #F9F1A5;
		--white: #F2F2F2;
	}
	console[scheme="solarized-dark"] {
		--background: #002B36;
		--black: #002B36;
		--dark-blue: #268BD2;
		--dark-green: #859900;
		--dark-cyan: #2AA198;
		--dark-red: #DC322F;
		--dark-magenta: #D33682;
		--dark-yellow: #B58900;
		--gray: #EEE8D5;
		--dark-gray: #073642;
		--blue: #839496;
		--green: #586E75;
		--cyan: #93A1A1;
		--red: #CB4B16;
		--magenta: #6C71C4;
		--yellow: #657B83;
		--white: #FDF6E3;
	}
	console[scheme="solarized"] {
		--background: #380C2A;
		--black: #002B36;
		--dark-blue: #268BD2;
		--dark-green: #859900;
		--dark-cyan: #2AA198;
		--dark-red: #DC322F;
		--dark-magenta: #D33682;
		--dark-yellow: #B58900;
		--gray: #EEE8D5;
		--dark-gray: #073642;
		--blue: #839496;
		--green: #586E75;
		--cyan: #93A1A1;
		--red: #CB4B16;
		--magenta: #6C71C4;
		--yellow: #657B83;
		--white: #FDF6E3;
	}
	console[scheme="solarized-light"] {
		--background: #FDF6E3;
		--black: #002B36;
		--dark-blue: #268BD2;
		--dark-green: #859900;
		--dark-cyan: #2AA198;
		--dark-red: #DC322F;
		--dark-magenta: #D33682;
		--dark-yellow: #B58900;
		--gray: #EEE8D5;
		--dark-gray: #073642;
		--blue: #839496;
		--green: #586E75;
		--cyan: #93A1A1;
		--red: #CB4B16;
		--magenta: #6C71C4;
		--yellow: #657B83;
		--white: #FDF6E3;
	}
	console[scheme="tango-dark"] {
		--background: #2E3436;
		--black: #2E3436;
		--dark-blue: #3465A4;
		--dark-green: #4E9A06;
		--dark-cyan: #06989A;
		--dark-red: #CC0000;
		--dark-magenta: #75507B;
		--dark-yellow: #C4A000;
		--gray: #D3D7CF;
		--dark-gray: #555753;
		--blue: #729FCF;
		--green: #8AE234;
		--cyan: #34E2E2;
		--red: #EF2929;
		--magenta: #AD7FA8;
		--yellow: #FCE94F;
		--white: #EEEEEC;
	}
	console[scheme="tango"] {
		--background: #380C2A;
		--black: #2E3436;
		--dark-blue: #3465A4;
		--dark-green: #4E9A06;
		--dark-cyan: #06989A;
		--dark-red: #CC0000;
		--dark-magenta: #75507B;
		--dark-yellow: #C4A000;
		--gray: #D3D7CF;
		--dark-gray: #555753;
		--blue: #729FCF;
		--green: #8AE234;
		--cyan: #34E2E2;
		--red: #EF2929;
		--magenta: #AD7FA8;
		--yellow: #FCE94F;
		--white: #EEEEEC;
	}
	console[scheme="tango-light"] {
		--background: #EEEEEC;
		--black: #2E3436;
		--dark-blue: #3465A4;
		--dark-green: #4E9A06;
		--dark-cyan: #06989A;
		--dark-red: #CC0000;
		--dark-magenta: #75507B;
		--dark-yellow: #C4A000;
		--gray: #D3D7CF;
		--dark-gray: #555753;
		--blue: #729FCF;
		--green: #8AE234;
		--cyan: #34E2E2;
		--red: #EF2929;
		--magenta: #AD7FA8;
		--yellow: #FCE94F;
		--white: #EEEEEC;
	}
	console[scheme="gnome"] {
		--background: #380C2A;
		--black: #171421;
		--dark-blue: #12488B;
		--dark-green: #26A269;
		--dark-cyan: #2AA1B3;
		--dark-red: #C01C28;
		--dark-magenta: #A347BA;
		--dark-yellow: #A2734C;
		--gray: #D0CFCC;
		--dark-gray: #5E5C64;
		--blue: #2A7BDE;
		--green: #33D17A;
		--cyan: #33C7DE;
		--red: #F66151;
		--magenta: #C061CB;
		--yellow: #E9AD0C;
		--white: #FFFFFF;
	}
	console[scheme="linux"] {
		--background: #380C2A;
		--black: #000000;
		--dark-blue: #0000AA;
		--dark-green: #00AA00;
		--dark-cyan: #00AAAA;
		--dark-red: #AA0000;
		--dark-magenta: #AA00AA;
		--dark-yellow: #AA5500;
		--gray: #AAAAAA;
		--dark-gray: #555555;
		--blue: #5555FF;
		--green: #55FF55;
		--cyan: #55FFFF;
		--red: #FF5555;
		--magenta: #FF55FF;
		--yellow: #FFFF55;
		--white: #FFFFFF;
	}
	console[scheme="xterm"] {
		--background: #380C2A;
		--black: #000000;
		--dark-blue: #0000EE;
		--dark-green: #00CD00;
		--dark-cyan: #00CDCD;
		--dark-red: #CD0000;
		--dark-magenta: #CD00CD;
		--dark-yellow: #CDCD00;
		--gray: #E5E5E5;
		--dark-gray: #7F7F7F;
		--blue: #5C5CFF;
		--green: #00FF00;
		--cyan: #00FFFF;
		--red: #FF0000;
		--magenta: #FF00FF;
		--yellow: #FFFF00;
		--white: #FFFFFF;
	}
	console[scheme="rxvt"] {
		--background: #380C2A;
		--black: #000000;
		--dark-blue: #0000CD;
		--dark-green: #00CD00;
		--dark-cyan: #00CDCD;
		--dark-red: #CD0000;
		--dark-magenta: #CD00CD;
		--dark-yellow: #CDCD00;
		--gray: #FAEBD7;
		--dark-gray: #404040;
		--blue: #0000FF;
		--green: #00FF00;
		--cyan: #00FFFF;
		--red: #FF0000;
		--magenta: #FF00FF;
		--yellow: #FFFF00;
		--white: #FFFFFF;
	}
	console[scheme="vintage"] {
		--background: #380C2A;
		--black: #000000;
		--dark-blue: #000080;
		--dark-green: #008000;
		--dark-cyan: #008080;
		--dark-red: #800000;
		--dark-magenta: #800080;
		--dark-yellow: #808000;
		--gray: #C0C0C0;
		--dark-gray: #808080;
		--blue: #0000FF;
		--green: #00FF00;
		--cyan: #00FFFF;
		--red: #FF0000;
		--magenta: #FF00FF;
		--yellow: #FFFF00;
		--white: #FFFFFF;
	}
}
@layer /* features */ {
	console {
		display: flex;
		flex-direction: column;
		height: 100%;
		box-sizing: border-box;
		background-color: var(--background);
	}
	console > control {
		display: flex;
	}
	console > control > input[type="text"] {
		text-align: left;
		font-size: 16px;
		font-family: 'Menlo', 'consolas', 'monospace';
		font-weight: bold;
		min-width: 0px;
		line-height: 21px;
		display: inline-block;
		padding: 8px;
		box-sizing: border-box;
		transition-duration: 0.4s;
		background-color: inherit;
		color: rgb(192, 192, 192);
		outline: none;
		flex-grow: 1;
	}
	console > control > input[type="text"][readonly] {
		opacity: 0;
	}
	console > control > input[type="text"] + button {
		border-radius: 4px;
		display: inline-block;
		margin: 4px;
		height: 29px;
		aspect-ratio: 1;
		transition-property: color, background-color, box-shadow;
		transition-duration: 0.4s;
		background-image: url('Forward.png');
		background-position: center;
		background-size: 16px;
		background-repeat: no-repeat;
		background-color: #4CAF50;
		color: white;
		cursor: default;
		user-select: none;
		-webkit-user-drag: none;
	}
	console > control > input[type="text"][readonly] + button {
		cursor: auto;
		color: rgba(255, 255, 255, 0.7098039215686275);
		background-color: rgba(76, 175, 80, 0.7098039215686275);
		pointer-events: none;
	}
	console > control > input[type="text"] + button:hover {
		color: black;
		background-color: rgba(231, 231, 231, 0.9);
	}
	console > control > input[type="text"] + button:hover:active {
		background-color: rgba(188, 188, 188, 0.9);
	}
	console > buffer {
		overflow-y: auto;
		display: block;
		padding: 0px 8px;
		flex-grow: 1;
	}
	console > buffer > line {
		text-align: left;
		position: relative;
		display: block;
		font-size: 16px;
		font-family: 'Menlo', 'consolas', 'monospace';
		font-weight: bold;
		line-height: 21px;
		min-height: 21px;
		color: rgb(192, 192, 192);
	}
	console > buffer > line > span {
		display: inline;
		white-space: pre-wrap;
		word-break: break-all;
		overflow-wrap: anywhere;
	}
	console > buffer > line > span:after {
		content: ' ';
		font-size: 0px;
		display: inline-block;
		width: 0px;
		height: 0px;
	}
	console > buffer > line > span > data-content {
		display: inline;
		white-space: pre-wrap;
		word-break: break-all;
		overflow-wrap: anywhere;
		user-select: none;
		cursor: default;
	}
	@keyframes shining {
		0% {
			background-color: transparent;
		}
		20% {
			background-color: transparent;
		}
		25% {
			background-color: white;
		}
		45% {
			background-color: white;
		}
		50% {
			background-color: transparent;
		}
		70% {
			background-color: transparent;
		}
		75% {
			background-color: white;
		}
		95% {
			background-color: white;
		}
		100% {
			background-color: transparent;
		}
	}
	console > buffer > line:last-of-type:after {
		content: '';
		position: absolute;
		height: 2px;
		width: 8px;
		bottom: 0px;
		animation: shining 2s infinite;
	}
	console > buffer > line > span[foreground="default"] {
		color: transparent;
	}
	console > buffer > line > span[foreground="black"] {
		color: var(--black);
	}
	console > buffer > line > span[foreground="dark-blue"] {
		color: var(--dark-blue);
	}
	console > buffer > line > span[foreground="dark-green"] {
		color: var(--dark-green);
	}
	console > buffer > line > span[foreground="dark-cyan"] {
		color: var(--dark-cyan);
	}
	console > buffer > line > span[foreground="dark-red"] {
		color: var(--dark-red);
	}
	console > buffer > line > span[foreground="dark-magenta"] {
		color: var(--dark-magenta);
	}
	console > buffer > line > span[foreground="dark-yellow"] {
		color: var(--dark-yellow);
	}
	console > buffer > line > span[foreground="gray"] {
		color: var(--gray);
	}
	console > buffer > line > span[foreground="dark-gray"] {
		color: var(--dark-gray);
	}
	console > buffer > line > span[foreground="blue"] {
		color: var(--blue);
	}
	console > buffer > line > span[foreground="green"] {
		color: var(--green);
	}
	console > buffer > line > span[foreground="cyan"] {
		color: var(--cyan);
	}
	console > buffer > line > span[foreground="red"] {
		color: var(--red);
	}
	console > buffer > line > span[foreground="magenta"] {
		color: var(--magenta);
	}
	console > buffer > line > span[foreground="yellow"] {
		color: var(--yellow);
	}
	console > buffer > line > span[foreground="white"] {
		color: var(--white);
	}
	console > buffer > line > span[background="default"] {
		background-color: transparent;
	}
	console > buffer > line > span[background="black"] {
		background-color: var(--black);
	}
	console > buffer > line > span[background="dark-blue"] {
		background-color: var(--dark-blue);
	}
	console > buffer > line > span[background="dark-green"] {
		background-color: var(--dark-green);
	}
	console > buffer > line > span[background="dark-cyan"] {
		background-color: var(--dark-cyan);
	}
	console > buffer > line > span[background="dark-red"] {
		background-color: var(--dark-red);
	}
	console > buffer > line > span[background="dark-magenta"] {
		background-color: var(--dark-magenta);
	}
	console > buffer > line > span[background="dark-yellow"] {
		background-color: var(--dark-yellow);
	}
	console > buffer > line > span[background="gray"] {
		background-color: var(--gray);
	}
	console > buffer > line > span[background="dark-gray"] {
		background-color: var(--dark-gray);
	}
	console > buffer > line > span[background="blue"] {
		background-color: var(--blue);
	}
	console > buffer > line > span[background="green"] {
		background-color: var(--green);
	}
	console > buffer > line > span[background="cyan"] {
		background-color: var(--cyan);
	}
	console > buffer > line > span[background="red"] {
		background-color: var(--red);
	}
	console > buffer > line > span[background="magenta"] {
		background-color: var(--magenta);
	}
	console > buffer > line > span[background="yellow"] {
		background-color: var(--yellow);
	}
	console > buffer > line > span[background="white"] {
		background-color: var(--white);
	}
}
